header, main, nav, footer, figure, figcaption, aside, section, article {display: block; }
* {box-sizing: border-box}
body { background-color: #DCCE39; 
		background-image: linear-gradient(to bottom, #FFFFFF, #DCCE39); 
		background-repeat: no-repeat;
		font-family: Georgia, "Times New Roman", serif; }
header { background-color: #2C638C;
		color: #FFFFFF;
		height:80px;
		padding-top: 20px;
		text-align: center; }
nav { font-weight: bold;
		padding: 10px;
		float: left;
		width: 160px; }
nav a { text-decoration: none; }
nav ul { list-style-type: none;
		margin: 0;
		padding-left: 0;
		font-size: 1.2em; }
nav li { margin: 0;
		border-bottom: 2px solid #FFFFFF; }
nav a:link{ color: #FFFFFF; }
nav a:visited{ color: #592990; }
nav a:hover{ color: #2C638C; }
main { padding: 1px 20px 20px 30px;
		display: block; 
		background-color: #FFFFFF;
		margin-left: 190px;}
h1, h2, h3, h4 { font-family: Georgia, "Times New Roman", serif; }
h1 { margin-bottom: 0;
		margin-top: 0;
		font-family: Georgia, "Times New Roman", serif; }
h2 { color: #592990; 
		text-shadow: 1px 1px 1px #CCCCCC;
		font-family: Georgia, "Times New Roman", serif;
		text-align: center; }
h3 { color: #592990; 
		font-family: Georgia, "Times New Roman", serif; }
h4 { color: #2C638C; 
		font-family: Georgia, "Times New Roman", serif; }
footer{ font-size: 75%;
		text-align: center;
		font-style: italic;
		font-family: Georgia, "Times New Roman", serif;
		padding: 20px; 
		background-color: #FFFFFF;
		margin-left: 190px; }
table { border: 1px solid #DCCE39; width: 80%; border-spacing: 0; }
td, th { border: 1px solid #DCCE39; padding: 5px; } 
td { text-align: center; }
tr:nth-of-type(odd) { background-color: #DFD9A4; }
label { float: left; display: block; text-align: right; width: 120px; padding-right: 10px; }
input { display: block; margin-bottom: 20px; }
textarea { display: block; margin-bottom: 20px; }
input[type="submit"] { margin-left: 130px; }

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 100px;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}


#gallery { position: relative; 
height: 350px;}
#gallery ul {list-style-type: none;
    width: 300px; 
}
#gallery li { display: inline; 
     float: left;
	 padding: 10px; 
}
#gallery img { border-style: none;
}
#gallery a { text-decoration: none;
             font-style: bold;  
             color: #2C638C; 
             font-family: Georgia, "Times New Roman", serif;
}
#gallery span { position: absolute;
                left: -1000px;
               opacity: 0;
              transition:  opacity 1s ease-in-out; 
}
#gallery a:hover span {     
			position: absolute;
			top: 16px;
			left: 320px; 
			text-align: center; 
            opacity: 1; 
}
figure {  position: absolute;
			left: 280px; 
			text-align: center; 
            opacity: .25;
}


#wrapper { margin-left: auto;
		margin-right: auto;
		width: 80%;
		background-color: #DB953A;
		min-width: 960px; 
		max-width: 2048px;
		box-shadow: 3px 3px 3px #333333; }


@media only screen and (max-width: 64em){
	body { margin: 0;
		background-color: #FFFFFF; }
	#wrapper { min-width: 0;
		width: auto;
		box-shadow: none; }
	main { margin-left: 0; }
	nav { float: none;
		width: auto;
		text-align: center;
		padding: 0.5em; }
	nav li { display: inline;
		padding: 0.25em 0.75em;
		border-bottom: 0px solid #FFFFFF; }
	footer { margin-left: 0; } 
}
@media only screen and (max-width: 37.5em){
	header { padding-top: 1em; }
	main { padding: 0.1em 1em;
		font-size: 90%; }
	h1 { font-size: 1.5em; }
	nav { padding: 0; }
	nav li { display: block; 
		margin: 0;
		border-bottom: 2px solid #FFFFFF; }
	nav a { display: block; }
	label { float: none; text-align: left; } 
	input[type="submit"] { margin-left: 0; }
	#gallery { display: none; }
	#mobile { display: inline; }
	#desktop { display: none; }
}
